node_modules/
/config/production.json
/config/default.json

# 忽略所有 build 內容
/client/build/*
# 但不要忽略資料夾本身和 .gitkeep (如果有)
!/client/build/.gitkeep

.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/debug.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*
