#container {
    display: flex;
    flex-flow: nowrap column;
    width: 100vw;
    height: 100vh;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.main {
    flex: 1 0 80%;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}

.footer {
    flex: 1 0 auto;
    background-color: black;
}

.auth-container {
    padding: 0 5rem;
    width: 100%;
    /* todo: RWD */
    max-width: 50%;
}

    .auth-container:before,
    .auth-container:after {
        content: '';
        display: block;
        border: 1px solid #007BFF;
        margin: 20px 0;
    }

    .auth-container h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .auth-container input[type='submit'] {
        margin-top: 30px;
    }