.notebook {
    flex: 1 1 25%;
    max-width: 25%;
    padding: 0 10px;
}

.card {
    background-color: rgb(173, 216, 230);
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    min-height: 250px;
    max-height: 250px;
}

    .card .card-body {
        margin-top: 32px;
    }

    .card .card-title {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }

    .card .card-text {
        font-size: 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

.notebook:hover > .card {
    cursor: pointer;
    background-color: rgba(173, 216, 230, 0.8);
}

.danger-alert {
    border: 2px solid #FF0000;
}